@import "~bootstrap/scss/bootstrap";

$primary-color:rgb(184, 173, 222);
$secondary-color: #1c1414;
$third-color: #C29ACD;

body {
        background-color: $primary-color;
        color: $secondary-color;
      }