{% if app.user %}
<div{{ attributes }}>
    <button data-action="live#action" data-action-name="toggle">
        {% if app.user.watchlist.contains(this.program) %}
            <i class="bi bi-heart-fill"></i>
        {% else %}
            <i class="bi bi-heart"></i>
        {% endif %}
    </button>
</div>
{% endif %}